html, body {
  margin: 0;
  padding: 0;
}
/* header */
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  position: fixed;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: mediumaquamarine;
  display: inline;
}

nav {
  padding-right: 30px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

/* Content Containers & Column Setup*/
.container {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
  display: flex;
}

.column.medium {
  width: 300px;
  display: flex;
}

.column.small {
  width: 240px;
  display: flex;
}

.lead-image  {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  color: white;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lead-image span {
  margin-left: 20px;
}

.image-content {
  color: white;
  height: 300px;
  width: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.earth-spins {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);

}

.research {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.cat {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
  display: flex;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  flex-wrap: wrap;
  flex-direction: row;
}

.cookie {
  height: 240px;
  margin-top: 0;
}

.stories .text-content {
  height: 250px;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites .bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

h2 {
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

/* Footer */

.footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info {
  display: block;
}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
}
.footer nav {
  display: inline-block;
}

.footer nav span {
  padding: 20px 10px;
}

.copyright {
  display: block;
}
